################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Portfolio Page/FileContentIndex/0e30d53f-6cbe-4026-b743-be5000c9233b.vsidx
